body {
    text-align: center;
    list-style-position: inside;
}

#stir {
    color: #4e861f;
    background-color: #f1ae48;
}

#stir-border {
    color: #4e861f;
    background-color: #f1ae48;
    border-color: #4e861f;
    border-width: 3px;
    border-style:ridge;
}

#crumble {
    color: #eeff00;
    background-color: #ff0000;
}

#crumble-border {
    color: #eeff00;
    background-color: #ff0000;
    border-color:#eeff00;
    border-width: 3px;
    border-style: ridge;
}

#roll {
    color:#ff00f2;
    background-color: #ffc70e;
}

#roll-border {
    color:#ff00f2;
    background-color: #ffc70e;
    border-color: #ff00f2;
    border-width: 3px;
    border-style:ridge;
}

div.stir-heading {
    color:#f1ae48;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

div.crumble-heading {
    color:#ff0000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div.roll-ups-heading {
    color:#ff00f2;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

button {
    font-size: 25px;
    margin: 8px;
    padding: 8px;
}